<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Groups <%= group_id %></title>
  </head>
  <body>

    <h2>Edit Groups with ID: <%= group_id %></h2>

    <form class="" action="/groups/edit/<%= group_id %>" method="post">
      <input type="text" name="name_of_group" value="" placeholder="Nama grup">
      <br>
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
