<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Groups</title>
  </head>
  <body>
    <%= JSON.stringify(groups)%>
    <table style="width:100%">
 <tr>
   <th>Group Name</th>
 </tr>
 <% groups.forEach(data => { %>
 <tr>
   <td><%= data.groups%></td>
   <td><a href="/contacts/edit/<%= data.id%>">edit</a></td>
   <td><a href="/contacts/delete/<%= data.id %>">delete</a></td>
 </tr>
 <% })%>
</table>
    <form action="/contacts" method="post">
      Name Group :<br>
      <input type="text" name="Name" placeholder="Your Name">
      <br>
      <button type="submit" name="">submit</button>
    </form>
  </body>
</html>
