<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>groups</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <form class="" action="index.html" method="post">
      
    </form>
    <table style="table">      
      <tr style="tr">
        <th style="th">Nomor</th>
        <th style="th">Group Name</th>   
        <th colspan="2" style="th">Action</th>     
      </tr>
      <tr style="tr">
        <td style="td">1</th>
        <td style="td">Project</th>        
      </tr>
    </table>
  </body>
</html>