<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <h1>Contacts List</h1>
    <h2><a href="contacts">CONTACTS</a> <=||=> <a href="groups">GROUPS</a></h2>
  </body>
</html>