<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
     <link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet"> 
  </head>
  <body>
    <a class='button' href="groups">groups</a>
    <a class='button' href="contacts">contacts</a>
  </body>
</html>
