<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>COMPANY</th>
            <th>TELEPON NUMBER</th>
            <th>EMAIL</th>
          </tr>
        </thead>
        <tbody>
          <% %>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </tbody>
      </table>
      <button type="submit" name="button">SUBMIT</button>
    </form>
  </body>
</html>
